<div class="container">

<h1>order burgers, eat burgers</h1>

<div class="order">
<h2>order a burger:</h2>
<form class="create-form">

    <label for="ca">burger name:</label>
    <input type="text" id="burgerTxt" name="name">

  <button type="submit" class="addBtn btn">Add Burger</button>
</form>
</div>

<div class="ready">
<h2>burgers ready to eat:</h2>

<ul>
  {{#each burgers}}
	{{#unless devoured}}
	<span class="li">{{this.burger_name}}
	<button type="button" class="eatBtn btn" data-id="{{this.id}}" data-newDevoured="{{devour}}">eat</button></span>
	<br>
    {{/unless}}
  {{/each}}
</ul>

</div>

<div class="devoured">
<h2>burgers you devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <span class="li">{{this.burger_name}}
	  <button type="button" class="trashBtn btn" data-id="{{this.id}}" data-newDevoured="{{devour}}">trash</button></span>
	  <br>
    {{/if}}
  {{/each}}
</ul>
</div>

</div>
